<body>

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="media flex-column flex-md-row">
				    <img class="mr-3 img-fluid picture mx-auto" src="/../../assets/img/profile.jpg" alt="">
				    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					    <div class="primary-info">
						    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">Jose G. Mendoza</h1>
						    <div class="title mb-3">Full Stack Developer</div>
						    <ul class="list-unstyled">
							    <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>josegmen2za@hotmail.com</a></li>
							    <li><a href="https://api.whatsapp.com/send?phone=56991620920&text=Hola%20"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>+569 9261 0920</a></li>
						    </ul>
					    </div><!--//primary-info-->
					    <div class="secondary-info ml-md-auto mt-2">
						    <ul class="resume-social list-unstyled">
				                <li class="mb-3"><a href="https://www.linkedin.com/in/jose-gregorio-mendoza-rodriguez-608564135?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BMWmahtbVSwqobvenwnKIVA%3D%3D"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/jose-gregorio-mendoza-rodriguez-608564135</a></li>
				                <li class="mb-3"><a href="https://github.com/josegmen2za"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>https://github.com/josegmen2za</a></li>
				                <li class="mb-3"><a href="https://codepen.io/josegmen2za"><span class="fa-container text-center mr-2"><i class="fab fa-codepen fa-fw"></i></span>codepen.io/josemen2za/</a></li>
				                <li class="mb-3"><a href="https://men2za.000webhostapp.com/"><span class="fa-container text-center mr-2"><i class="fas fa-globe"></i></span>https://men2za.000webhostapp.com/</a></li>

						    </ul>
					    </div><!--//secondary-info-->

				    </div><!--//media-body-->
			    </div><!--//media-->
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Perfil Profesional</h2>
				    <div class="resume-section-content">
					    <p class="mb-0">Técnico Superior en Informática con experiencia en instalación de software, instalación y configuración de redes alámbricas y wifi, instalación y configuración de servidores, web, proxy, ftp, de Bases de Datos en Linux y Windows, Desarrollo de Sistemas en Visual Basic 6, Visual Basic.net, administración de bases de datos SQL Server y Mysql. Proactivo, dinámico, con alto interés en aprender y adquirir nuevos conocimientos, con nivel del idioma inglés medio.  </p>
				    </div>
			    </section><!--//summary-section-->
			    <div class="row">
				    <div class="col-lg-9">
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Experiencias Laborales</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Administrador E-Commerce</h3>
										        <div class="resume-company-name ml-auto">Automotriz y Comercial Gellona Mediavilla Ltda</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2018 - Presente</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Administracion de tienda online, ingreso de productos,modificacion de productos y precios, atencion al cliente.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Logros:</h4>
										    <p>Activacion de Tienda Online</p>
										    <ul>
											    <li>Ingreso de Nuevos productos</li>
											    <li>Cambio de Imagen de tienda Online</li>
											    <li>Creacion de Redes Sociales de la tienda online para promocion de productos</li>

										    </ul>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias usada:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/CSS</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Mysql</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Sql server</span></li>
											    <!--//<li class="list-inline-item"><span class="badge badge-primary badge-pill">Webpack</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostgresSQL</span></li>-->
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
                    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Programador</h3>
										        <div class="resume-company-name ml-auto">Eruditum</div>
										    </div><!--//row-->
										    <div class="resume-position-time">Julio-Septiembre 2018</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Modificación y mejoras de pagina Web</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Logros:</h4>
										    <p>Mejoras en página web</p>
										    <ul>
											    <li>Creacion de Redes Sociales y promocion de Servicios.</li>

										    </ul>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias usada:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/CSS</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Mysql</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Angular</span></li>
											    <!--//<li class="list-inline-item"><span class="badge badge-primary badge-pill">Webpack</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostgresSQL</span></li>-->
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
								    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Tecnico Instalador de Fibra Optica</h3>
										        <div class="resume-company-name ml-auto">Pirquenet.</div>
										    </div><!--//row-->
										    <div class="resume-position-time">Mayo 2018 - Julio 2018</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Instalacion de internet residencial por fibra optica, configuracion de router de fibra optica, reparaciones de fibra optica cortadas.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Logros</h4>
										    <p>Nuevos conocimientos en configuracion de router de fibra optica, soldaduras de fibra optica para instalacion de router de fibra optica.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias usadas:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">dhcp</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">tcp/ip</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">PPPoE</span></li>
											    <!--<li class="list-inline-item"><span class="badge badge-primary badge-pill">Webpack</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">MySQL</span></li>-->
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->

								    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Administrador de Sistemas</h3>
										        <div class="resume-company-name ml-auto">INSEVTRAV C.A. </div>
										    </div><!--//row-->
										    <div class="resume-position-time">2014 - 2017</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Diseño e implementación y administraciones de Redes.
												Instalación y mantenimiento de servidores y equipos de usuarios.
											</p>
										    <p>Administrado de Redes. Diseño de Infraestructura de Redes..</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias usadas:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Windows Server</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">TCP/IP</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">SQL Server</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Office</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->

								    <article class="resume-timeline-item position-relative">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Programador III <small class="text-muted">(Jefe de Departamento)</small></h3>
										        <div class="resume-company-name ml-auto">Gobernación del Estado Carabobo</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2005 - 2010</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Desarrollo y Mantenimiento del Sistema de Gestión Social (S.G.S.). para control de Gestión de la Secretaria de Gobierno.</p>
										    <p>Instalación y Administración de Bases de Datos. Servidor de dominio y mensajería interna con Exchange.</p>
										    <p>Instalación y Administración de Servidor de Linux para instalación de Servidor web apache y Servidor Proxy Squid para control de usuarios con acceso internet.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias usada:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Visual Basic 6</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Sql Server</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Exchange</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Squid</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Linux</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Window Active Directory</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
								    <article class="resume-timeline-item position-relative">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Analista de Redes Y Soporte<small class="text-muted"></small></h3>
										        <div class="resume-company-name ml-auto">Papeles Venezolanos, C. A. (PAVECA)</div>
										    </div><!--//row-->
										    <div class="resume-position-time">Junio 2003 - Julio 2005</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Mantenimiento de infraestructura de red
												Soporte a usuario a través del helpdesk
												Instalación de software de consola de as400, instalación de software de Novell Netware, cliente de correo Groupwise 6.
											</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias usada:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">TCP/IP</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Sql Server</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">GroupWise</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Consola as400</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Linux</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Window</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Novell Netware</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->

							    </div><!--//resume-timeline-->






						    </div>
					    </section><!--//experience-section-->
				    </div>
				    <div class="col-lg-3">
					    <section class="resume-section skills-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Conocimientos &amp; Herramientas</h2>
						    <div class="resume-section-content">
						        <div class="resume-skill-item">
							        <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
							        <ul class="list-unstyled mb-4">
								        <li class="mb-2">
								            <div class="resume-skill-name">Angular</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">React</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">JavaScript</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>

								        <li class="mb-2">
								            <div class="resume-skill-name">Node.js</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">HTML/CSS/SASS/LESS</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
							        </ul>
						        </div><!--//resume-skill-item-->

						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
							        <ul class="list-unstyled">
								        <li class="mb-2">
								            <div class="resume-skill-name">Php</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								<!--         <li class="mb-2">
								            <div class="resume-skill-name">Ruby/Rails</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 92%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li> -->
								        <!-- <li class="mb-2">
								            <div class="resume-skill-name">PHP</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 86%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li> -->
								        <!-- <li class="mb-2">
								            <div class="resume-skill-name">WordPress/Shopify</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 82%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li> -->
							        </ul>
						        </div><!--//resume-skill-item-->

						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Otros </h4>
						            <ul class="list-inline">
							            <li class="list-inline-item"><span class="badge badge-light">Sql Server</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Mysql</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Photoshop</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Visual studio.net</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Linux</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">apache/squid</span></li>
<!-- 							            <li class="list-inline-item"><span class="badge badge-light">Balsamiq</span></li> -->
							            <li class="list-inline-item"><span class="badge badge-light">WordPress</span></li>
							            <!-- <li class="list-inline-item"><span class="badge badge-light">Shopify</span></li> -->
						            </ul>
						        </div><!--//resume-skill-item-->
						    </div><!--resume-section-content-->
					    </section><!--//skills-section-->
					    <section class="resume-section education-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Educación</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-2">
								        <div class="resume-degree font-weight-bold">Técnico Superior Universitario en Informática</div>
								        <div class="resume-degree-org">Instituto Universitario de Tecnologia de Valencia</div>
								        <div class="resume-degree-time">1997 - 2004</div>
								    </li>
								    <!-- <li>
								        <div class="resume-degree font-weight-bold">BSc Maths and Physics</div>
								        <div class="resume-degree-org">Imperial College London</div>
								        <div class="resume-degree-time">2007 - 2010</div>
								    </li> -->
							    </ul>
						    </div>
					    </section><!--//education-section-->
					   <!--  <section class="resume-section reference-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Awards</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-awards-list">
								    <li class="mb-2 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Award Name Lorem</div>
								        <div class="resume-award-desc">Award desc goes here, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</div>
								    </li>
								    <li class="mb-0 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Award Name Ipsum</div>
								        <div class="resume-award-desc">Award desc goes here, ultricies nec, pellentesque.</div>
								    </li>
							    </ul>
						    </div>
					    </section> --><!--//interests-section-->
					    <section class="resume-section language-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Languaee</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">Españo</span> <small class="text-muted font-weight-normal">(Nativo)</small></li>
								    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">Ingles</span> <small class="text-muted font-weight-normal">(Técnico)</small></li>
								    <!-- <li><span class="resume-lang-name font-weight-bold">Spanish</span> <small class="text-muted font-weight-normal">(Professional)</small></li> -->
							    </ul>
						    </div>
					    </section><!--//language-section-->
					    <section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interes</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-1">Cocina</li>
								    <li class="mb-1">Ciclismo</li>
								    <li class="mb-1">Natacion</li>
							    </ul>
						    </div>
					    </section><!--//interests-section-->

				    </div>
			    </div><!--//row-->
		    </div><!--//resume-body-->


	    </div>
    </article>


    <footer class="footer text-center pt-2 pb-5">
	     <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </footer>



</body>
