<!--formulario!-->
<div class="container-fluid d-flex flex-column justify-content-center h-100 text-white align-items-center pt-5 fondo-2">
<div class="container py-5 mt-3 ">
  <div class="text-center text-white">
    <h2>Contactame</h2>
    <h4>Enviame un correo y número de contácto y a la brevedad me comunicaré contigo..</h4>
  </div>
  <form action="#" class="row justify-content-center">
    <div class="form-group col-md-3">
      <input type="text" placeholder="Nombre" class="form-control">
    </div>
    <div class="form-group col-md-3">
      <input type="email" placeholder="Email" class="form-control">
    </div>
    <div class="form-group col-md-3">
      <input type="text" placeholder="Teléfono" class="form-control">
    </div>
    <div class="col-md-12 py-4">
      <div class="row justify-content-center ">
        <button class="btn btn-primary col-md-2">Enviar</button>
      </div>
    </div>
  </form>
</div>
</div>

<!--fin-formulario!-->
