<nav class="container-fluid navbar navbar-expand-lg pb-0 navbar-dark bg-dark fixed-top">
  <img class="profile " src="/../../assets/img/profile.png" alt="Men2za" />
        <a class="navbar-brand" href="#">José G. Mendoza</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="inicio">Inicio</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" routerLink="estudios">Estudios Realizados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="trabajos">Experiencias Laborales</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Curriculum
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="orbit">Modelo orbit-v2.0</a>
              <a class="dropdown-item" routerLink="pillar">Modelo pillar-v1.0.1</a>
            </div>

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Prueba
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="question1">Pregunta 1</a>
              <a class="dropdown-item" routerLink="question2">Pregunta 2</a>
              <a class="dropdown-item" routerLink="question3">Pregunta 3</a>
            </div>

          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="banner">Redes Sociales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacto">Contactar</a>
          </li>
        </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
