<div class="pd-5 mt-4 container-8 bg-light">
  <h1 class="text-center fondo-3 text-white mt-md-4 mt-sm-4 mb-ms-4 mb-sm-4">Antecedente academico  </h1>
  <div class="table-responsive table-responsive-sm table-responsive-md table-responsive-s9 pb-5 mb-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Usuario</th>
          <th scope="col">Compañia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let preg2 of quest2 | paginate: {itemsPerPage: 10, currentPage: pageActual}; index as i">

          <th scope="row"> {{i+1}}</th>
         <td>{{preg2.id}}</td>
          <td>{{preg2.name}}</td>
          <td>{{preg2.username}}</td>
          <td>{{preg2.company.name}}</td>

        </tr>

      </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>
</div>
