<!--inicio-banner!-->
<div class="container-fluid d-flex flex-column justify-content-center text-center h-100 text-white align-items-center mt-5 pt-5 fondo-2">
  <div class="container justify-content-center text-center">
    <h2 class="pr-3">Mis redes sociales.  </h2>
      <div class="iconos">
        <a href="https://www.facebook.com/profile.php?id=687148045" target="_blank"><i class="fab fa-facebook-square pr-3"></i></a>
        <a href="https://www.instagram.com/josegmen2za/?hl=es-la" target="_blank"><i class="fab fa-instagram pr-3"></i></a>
        <a href="https://www.twitter.com/josegmen2za/?hl=es-la" target="_blank"><i class="fab fa-twitter pr-3"></i></a>
        <a href="https://www.linkedin.com/in/jose-gregorio-mendoza-rodriguez-608564135" target="_blank">  <i class="fab fa-linkedin-in pr-3"   ></i></a>
        <a href="https://api.whatsapp.com/send?phone=56991620920&text=Hola%20"><i class="fas fa-phone"></i></a>


        <!--fontawesome-4.7.0!-->
        <!--<i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-skype" aria-hidden="true"></i> -->
        <!--fin fontawesome-4.7.0!-->
      </div>
  </div>
</div>




<!--fin-banner!-->
