<body>
    <div class=" wrapper pt-4">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="/../../assets/img/profile.png" alt="" />
                <h1 class="name">Jose G. Mendoza</h1>
                <h3 class="tagline">Full Stack Developer</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block justify-content-center">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fas fa-envelope"></i><a href="mailto: josegmen2za@gmail.com"> josegmen2za@gmail.com</a></li>
                    <li class="phone"><i class="fas fa-phone"></i><a href="https://api.whatsapp.com/send?phone=56991620920&text=Hola%20">+569 9261 0920</a></li>
                    <li class="website"><i class="fas fa-globe"></i><a href="https://men2za.000webhostapp.com/" target="_blank"> https://men2za.000webhostapp.com/</a></li>
                    <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="linkedin.com/in/jose-gregorio-mendoza-rodriguez-608564135" target="_blank"> linkedin.com/in/jose-gregorio-mendoza-rodriguez-608564135</a></li>
                    <li class="github"><i class="fab fa-github"></i><a href="https://github.com/josegmen2za" target="_blank"> https://github.com/josegmen2za</a></li>
                    <li class="twitter"><i class="fab fa-twitter"></i><a href="https://www.twitter.com/josegmen2za/?hl=es-la" target="_blank"> @josegmen2za</a></li>
                    <li class="instagram"><i class="fab fa-instagram"></i><a href="https://www.instagram.com/josegmen2za/?hl=es-la" target="_blank"> @josegmen2za</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Educacion</h2>
                <div class="item">
                    <h4 class="degree">Tecnico Superior Universitario</h4>
                    <h5 class="meta">Inst. Politecnico de Tenologia de Valencia</h5>
                    <div class="time">1997 - 2003</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">3er. semstre de Ingenieria Electrica</h4>
                    <h5 class="meta">Universidad de Carabobo</h5>
                    <div class="time">1995 - 1997</div>
                </div><!--//item-->
            </div><!--//education-container-->

            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>Español <span class="lang-desc">(Nativo)</span></li>
                    <li>Ingles <span class="lang-desc">(Tecnico)</span></li>
                </ul>
            </div><!--//interests-->

            <div class="interests-container container-block">
                <h2 class="container-block-title">Interes</h2>
                <ul class="list-unstyled interests-list">
                    <li>Cocina</li>
                    <li>Ciclismo</li>
                    <li>Natacion</li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Perfil Profesional</h2>
                <div class="summary">
                    <p>Técnico Superior Universitario en Informática con experiencia en desarrollo de aplicaciones en Visual Basic 6, Visual Studio.net, desarrollador AngularJs, html/css/sass/less, Backend con php, administración de bases de datos SQL Server y Mysql, instalación de software, instalación y configuración de redes alámbricas y wifi, instalación y configuración de servidores, web, proxy, ftp, de Bases de Datos en Linux y Windows, Proactivo, dinámico, con alto interés en aprender y adquirir nuevos conocimientos, con nivel del idioma inglés medio.     </p>
                </div><!--//summary-->
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiencias</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Administrador E-Commerce</h3>
                            <div class="time">2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Automotriz y Comercial Gellona Mediavilla Ltda - Santiago</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Desde: 2 de octubre del 2018 hasta: actualmente.
                        Responsabilidad:  Administrador E-Commerce
                        Jefe Inmediato: Jorge Lecocq
                        Teléfono. +56992804040
                        </p>
                    </div><!--//  details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Programador Web</h3>
                            <div class="time">Julio-Septiembre 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Eruditum, Santiago</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Desde: 2 de Julio del 2018 hasta: septiembre 2018.
                          Mejoras y Modificacion de Pagina Web
                          Jefe Inmediato: Francisco Méndez
                          Teléfono. +56958808922
                        </p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Instalador de Fibra Optica</h3>
                            <div class="time">Mayo-Junio 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Pirquenet, Santiago</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Instalación de Internet residencial por fibra óptica. Desde        postes hasta las residencias
                          Configuración de router de Fibra óptica residencial.

                           Jefe Inmediato: Rheyler Henriquez
                          Móvil:+56 956012120
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->

            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Habilidades y Destresas</h2>
                <p class="pb-1 text-center ">Técnico Superior en Informática con experiencia adquiridas a travez de las diferentes experiencias laborales como son:</p>
                <div>
                 <ul>

        <li>Desarrollo de Aplicaciones en Visual Basic 6, Visual.net.</li>
        <li>Frontend en Angular, javascript, node.js, typescript y html5/ccs3/sass/less</li>
        <li>Backend con Php.</li>
        <li>Maquetación en Photoshop</li>
        <li>Diseño de Bases de Datos en SQL Server, Mysql.</li>
        <li>Instalación y administración de servidores Sql Server Mysql, Instalación de Servidores Web Apache. Con php y Servidor Ftp para Intranet.</li>
        <li>Mantenimiento y administración de Páginas Web con Wordpress y Joomla (Gestor de Contenidos para páginas Web).</li>
        <li>Mantenimiento de equipos de computación e instalación de hardware externos para Pc. Instalación de Cliente de Antivirus.</li>
        <li>Instalación de Puntos de Red y Cableado Estructurado, Instalaciones de Cableados Eléctrico de Baja Tensión (corriente débil). instalación y configuración de redes alámbricas y wifi, instalación de redes de fibra óptica</li>
        <li>Idiomas: español (Nativo), inglés (Técnico).</li>
      </ul>

      </div>
            </section><!--//section-->

            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills &amp; Conocimientos</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">Visual Basic 6 &amp; Visual Studio.net</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 30%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Angular</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="progress level-bar">
							    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Sql Server &amp; Mysql</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Photoshop</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
                    </div><!--//item-->

                </div>
            </section><!--//skills-section-->

        </div><!--//main-body-->
    </div>

    <footer class="footer">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other commercial license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->

</body>
