<div class="pd-5 mt-4 container-8 bg-light">
  <h1 class="text-center fondo-3 text-white mt-md-4 mt-sm-4 mb-ms-4 mb-sm-4">Antecedente academico  </h1>
  <div class="table-responsive table-responsive-sm table-responsive-md table-responsive-s9 pb-5 mb-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Data</th>
          <th scope="col">Error</th>
          <th scope="col">Success</th>
          <!-- <th scope="col">Compañia</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let preg3 of quest3 | paginate: {itemsPerPage: 10, currentPage: pageActual}; index as i">

          <th scope="row"> {{i+1}}</th>
         <td>{{preg3.data.paragragh}}</td>
          <td>{{preg3.number}}</td>
          <td>{{preg3.hasCopyright}}</td>
          <!-- <td>{{preg3.company.name}}</td> -->

        </tr>

      </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>
</div>
