<!--The content below is only a placeholder and can be replaced.-->
<div >
   <div class="container fixed-top">
      <app-navbar ></app-navbar>
   </div>
   <div class="inner cover pt-lg-5 align-items-center justify-content-center mt-5 pt-5">
      <router-outlet class=" pt-lg-5 align-items-center justify-content-center"></router-outlet>
   </div>
   <div>
      <app-footer></app-footer>
   </div>
</div>
