<!-- <button (click)="toggleTitle()" class="btn btn-primary">Mostrar titulo</button>
<h1  class="title " style="display:none;">Jose Mendoza
    {{title}}
</h1> -->
<div class="pd-5 mt-4 container-8 bg-light">
  <h1 class="text-center fondo-3 text-white mt-md-4 mt-sm-4 mb-ms-4 mb-sm-4">Antecedente academico  </h1>
  <div class="table-responsive table-responsive-sm table-responsive-md table-responsive-s9 pb-5 mb-3">
<table #dataTable class="table table-hover table-secondary">
        <thead>
            <tr>
                <th>Nivel</th>
                <th>Años</th>
                <th>Instituto</th>
                <th>Lugar</th>
                <th>Mencion</th>
                <th>Titulo Obtenidos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Primaria</td>
                <td>1984-1990</td>
                <td>Instituto Educacional Juan XXIII</td>
                <td>Valencia Edo. Carabobo</td>
                <td>-</td>
                <td>Educación Primaria</td>
            </tr>
            <tr>
                <td>Educación Basica</td>
                <td>1990-1993</td>
                <td>Instituto Educacional Juan XXIII</td>
                <td>Valencia Edo. Carabobo</td>
                <td>Educacion Básica en Informatica</td>
                <td>Educacion Basica en Informatica</td>
            </tr>
            <tr>
                <td>Bachillerato</td>
                <td>1993-1995</td>
                <td>Instituto Educacional Luis María Acuña</td>
                <td>Valencia Edo. Carabobo</td>
                <td>Bachillerato Mencion Ciencias</td>
                <td>Bachiller en Ciencias</td>
            </tr>
            <tr>
                <td>Universitaria</td>
                <td>1995-1997</td>
                <td>Universidad de Carabobo</td>
                <td>Valencia Edo. Carabobo</td>
                <td>Ingenieria Electrica</td>
                <td>3.er semestre.</td>
            </tr>
            <tr>
                <td>Universitaria</td>
                <td>1997-2004</td>
                <td>Instituto Universitario de Tecnología de Valencia</td>
                <td>Valencia Edo. Carabobo</td>
                <td>Informatica</td>
                <td>T.S.U. en Informática</td>
            </tr>
            <tr>
                <td>Universitaria</td>
                <td>2006-2009</td>
                <td>UNEFA</td>
                <td>Valencia Edo. Carabobo </td>
                <td>Ingenieria en Telecomunicaciones</td>
                <td>5to. semestre.</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th>Nivel</th>
                <th>Años</th>
                <th>Instituto</th>
                <th>Lugar</th>
                <th>Mencion</th>
                <th>Titulo Obtenidos</th>
            </tr>
        </tfoot>
    </table>
    </div>







</div>
