<div class="container mt-3 pt-3 mb-5 pb-4">
  <h1 class="text-center fondo-3 text-white">Experiencias Laborales</h1>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Automotriz Gellona Mediavilla LTDA.
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <b>Responsabilidad:</b>  Administrador E-Commerce<hr>
        Desde : 2 de Octubre del 2018 hasta: actualmente.
        <hr>
        Jefe Inmediato: Jorge Lecocq
        Teléfono. +56992804040

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Eruditum
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <b>Responsabilidad:</b> Programador Web
        <hr>
        Desde: El 2 de Julio del 2018 hasta: septiembre 2018.

        Jefe Inmediato: Francisco Méndez
        Teléfono. +56958808922

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Pirquenet.
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <B>Responsabilidades:</B>
        Instalación de Internet residencial por fibra óptica. Desde postes hasta las residencias
        Configuración de router de Fibra óptica residencial.
        <HR>
        Desde mayo de 2018 hasta 30 junio de 2018.
        <HR>
        Jefe Inmediato: Rheyler Henriquez
        Móvil:+56 956012120

      </div>
    </div>
  </div>
<div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          INSEVTRAV C.A.
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
          <B>Cargo:</B> Administrador de Sistemas. <hr>
          <b>Responsabilidades:</b> <li>Diseño e implementación y administraciones de Redes.</li>
          <li>Administrado de Redes. Diseño de Infraestructura de Redes.</li>
          <li>Instalación de equipo para control de personal.</li>
          <li>Instalación y mantenimiento de servidores y equipos de usuarios.</li><hr>
          Duración: Desde junio 2011 hasta noviembre de 2017
          Jefe Inmediato: Argenis Alcarra Teléfono: 0424-4007945


      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Gobernación del Estado Carabobo
          (Sec. de Desarrollo Social.)
        </button>
      </h2>
    </div>

    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">

          <b>Cargo: Programador III</b>
          Desde mayo de 2005 hasta la Julio del 2010.
          <hr>
          <b>Responsabilidades:</b>
          Desarrollo y Mantenimiento del Sistema de Gestión Social (S.G.S.). para control de Gestión de la Secretaria de Gobierno.<hr>
          <li>Instalación y Administración de Bases de Datos. Servidor de dominio y mensajería interna con Exchange.</li>
          <li>Instalación y Administración de Servidor de Linux para instalación de Servidor web apache y Servidor Proxy Squid para control de usuarios con acceso internet.</li>
          <hr>
          Logros:
          <hr>
          <li>Manejo de Equipo de Trabajo con alto desempeño y respuesta inmediata.</li>


      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Papeles Venezolanos, C. A. (PAVECA)
        </button>
      </h2>
    </div>

    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">

          <b>Departamento: Redes Y Telecomunicaciones</b>
          <hr>
          <b>Duración: Junio del 2003 Hasta: julio del 2004</b>
          <hr>
          <b>Cargo:</b> Analista de Redes Y Soporte a Usuarios Novell Netware 6, Groupwise 6, y Usuarios Windows en General.
          <hr>
          <b>Responsabilidades:</b>
          <li>Mantenimiento de infraestructura de red</li>
          <li>Soporte a usuario a través del helpdesk</li>
          <li>Instalación de software de consola de as400, instalación de software de Novell Netware, cliente de correo Groupwise 6.</li>
          <li>Instalación y Administración de Servidor de Linux para instalación de Servidor web apache y Servidor Proxy Squid para control de usuarios con acceso internet.</li>
          <hr>
          Logros:
          <hr>
          <li>Logros: Aprender a trabajar bajo presión.</li>
          <li>Manejo de usuarios para soporte Telefónico y remoto.</li>
          <li>Instalación y configuración de redes.</li>
           <li>Instalación y configuraciones de servidores de red</li>




<hr>
<b>Jefe Inmediato: William Belandria Teléfono: 0245-4003377</b>

      </div>
    </div>
  </div>
  </div>
</div>
