<div class="container pb-2 d-flex flex-column justify-content-center h-100 text-white align-items-center pt-5 fondo-2 mt-2">
      <h1 class="pt-5">Bienvenidos a mi Sitio Web</h1>
      <p class="pb-2 text-center  ">Técnico Superior Universitario en Informática con experiencia en desarrollo de aplicaciones en Visual Basic 6, Visual Studio.net, desarrollador AngularJs, html/css/sass/less, Backend con php, administración de bases de datos SQL Server y Mysql, instalación de software, instalación y configuración de redes alámbricas y wifi, instalación y configuración de servidores, web, proxy, ftp, de Bases de Datos en Linux y Windows, Proactivo, dinámico, con alto interés en aprender y adquirir nuevos conocimientos, con nivel del idioma inglés medio.  </p>
      <div class="pb-5 mb-2">
        <a class="nav-link btn btn-danger px-4" routerLink="/habilid-destresas">Leer más...</a>
      </div>

    </div>
