/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
	font-family:'Roboto', sans-serif;
}
h1, h2, h3,h4, h5, p{
	font-family: 'Roboto', sans-serif;}
h1{
	font-size: 2.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300
}
h2{
	font-size: 2rem;
	font-weight: 300
}
h3{
	font-size: 1.75rem;
	font-weight: 300
}
h4{
	font-size: 1.5rem;
	font-weight: 300
}
p{
	font-weight: 300;
  font-size: 1.2rem
}
.card-block .display-1{
	font-size: 6.25rem;
}

.fondo{
	background: url('/assets/img/1493938270-programacion-istock.jpg');
	height: 100vh;
	background-position: center;
	background-size: cover;
}
.fondo-2{
	height: 100vh;
	background-color: rgba(0,0,0,.8);
}
.fondo-3{
	background-color: rgba(0,0,0,.6);
}
.bg-fondo-claro{
	background-color: #fefaec;
}
.bg-fondo-claro-2{
	background-color:rgba(0,0,0,.5);
}
.bg-fondo-3{
	background-color: #f38181;
}
.bg-fondo-4{
	background-color: #625772;
}
.bg-primary{
	background-color: #a9eee6;
}
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {

    background-color: #19786d;

}
.btn{
	font-size: 1.25rem;
	font-weight: 300;
}

.btn-primary {

    color: #fff;
    /* background-color: #a9eee6;*/
    border-color: #a9eee6;

}
.pb-25{
	padding-bottom: 2.5rem;
}
.iconos{
	font-size: 2.25rem;
	margin-top: -1rem !important;
}
.card{
	border: none;
}
.form-control {

    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #444;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
